* {
    box-sizing: border-box;
}

body {
    min-width: 290px;
    color: #4c4c4e;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

main {
    background-color: rgb(248, 244, 244);
    margin: 0 20px; 
    padding:30px;
}

/*Navigation Bar*/

nav {
    display:flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    background-color: #333;
    color: white;
    height:80px;
    border-radius: 5px;
}

nav header {
    font-size: 2rem;
    margin-top: 10px;
}

#css-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
margin-left: 10px;

}

nav ul {
    list-style-type: none;
}

nav li {
float: left;
}
.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
  }

  /*Main section*/

  header {
    font-size: 1.9em;
font-weight: bolder;
margin: 0;
  }

  /*introduction section*/

  #css-note {
    background-color: rgb(240, 190, 130);
    border-radius: 5px;
  }

  h3 {
    font-weight: 250px;
    text-decoration: underline;
  }

 